.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-navlink {
  color: var(--dl-color-primary-3c90f7);
  font-size: 15px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation-links-navlink1 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 15px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600;
  margin-left: 32px;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation-links-navlink2 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 15px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600;
  margin-left: 32px;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation-links-navlink3 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 15px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600;
  margin-left: 32px;
  text-transform: uppercase;
  text-decoration: none;
}
.navigation-links-text {
  color: var(--dl-color-primary-3c90f7);
  font-size: 15px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600;
  margin-left: 32px;
  text-transform: uppercase;
}














@media(max-width: 1600px) {
  .navigation-links-navlink {
    font-size: 16px;
  }
  .navigation-links-navlink1 {
    font-size: 16px;
  }
  .navigation-links-navlink2 {
    font-size: 16px;
  }
  .navigation-links-navlink3 {
    font-size: 16px;
  }
  .navigation-links-text {
    font-size: 16px;
  }
}
@media(max-width: 1200px) {
  .navigation-links-navlink {
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
  }
  .navigation-links-navlink1 {
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
  }
  .navigation-links-navlink2 {
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
  }
  .navigation-links-navlink3 {
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
  }
  .navigation-links-text {
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-navlink {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-navlink3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}

.testimonial-card3-testimonial-card {
  display: flex;
  padding: 32px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
}
.testimonial-card3-icon {
  width: 48px;
  margin-bottom: 32px;
}
.testimonial-card3-testimonial {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.testimonial-card3-text {
  color: var(--dl-color-gray-700);
  font-size: 20px;
  text-align: center;
  margin-bottom: 48px;
}
.testimonial-card3-text1 {
  font-size: 25px;
  font-weight: 300;
}



@media(max-width: 767px) {
  .testimonial-card3-icon {
    height: 48px;
  }
}
@media(max-width: 479px) {
  .testimonial-card3-testimonial-card {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}

.blog-post-card1-blog-post-card {
  width: 100%;
  display: flex;
  overflow: hidden;
  max-width: 1400px;
  box-shadow: 5px 5px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.blog-post-card1-blog-post-card:hover {
  transform: scale(1.02);
}
.blog-post-card1-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.blog-post-card1-container {
  display: flex;
  padding: 32px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.blog-post-card1-text {
  color: var(--dl-color-primary-header);
  font-weight: 700;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.blog-post-card1-text1 {
  color: var(--dl-color-primary-header);
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 32px;
}
.blog-post-card1-text2 {
  color: var(--dl-color-primary-paragraph);
  font-weight: 400;
  margin-bottom: 32px;
}

.blog-post-card1-root-class-name1 {
  background-color: var(--dl-color-gray-white);
}
.blog-post-card1-root-class-name2 {
  background-color: var(--dl-color-gray-white);
}
.blog-post-card1-root-class-name3 {
  background-color: var(--dl-color-gray-white);
}

.blog-post-card1-root-class-name5 {
  background-color: var(--dl-color-gray-white);
}
.blog-post-card1-root-class-name6 {
  background-color: var(--dl-color-gray-white);
}
.blog-post-card1-root-class-name7 {
  background-color: var(--dl-color-gray-white);
}
@media(max-width: 1200px) {
  .blog-post-card1-blog-post-card {
    height: auto;
  }
  .blog-post-card1-root-class-name3 {
    height: 50%;
  }
  .blog-post-card1-root-class-name5 {
    height: 50%;
  }
}
@media(max-width: 991px) {
  .blog-post-card1-image {
    height: 350px;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-wide-bar {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dl-color-primary-32c69a);
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  height: 50px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: flex-end;
}
.home-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-text {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 400;
  margin-right: var(--dl-space-space-tripleunit);
}
.home-icon02 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-unit);
}
.home-text01 {
  color: var(--dl-color-gray-white);
  font-size: 16px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 400;
  margin-right: 0px;
}
.home-header {
  width: 100%;
  height: 69px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
}
.home-image {
  height: 2rem;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-burger-menu {
  display: none;
}
.home-icon04 {
  width: 16px;
  height: 16px;
  display: flex;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.home-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  justify-content: space-between;
}
.home-image1 {
  height: 2rem;
}
.home-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon06 {
  width: 16px;
  height: 16px;
}
.home-container03 {
  flex: 0 0 auto;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon08 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon10 {
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon12 {
  width: 16px;
  height: 16px;
}
.home-hero {
  width: 100%;
  display: flex;
  padding: 48px;
  position: relative;
  min-height: 80vh;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: center;
  background-color: #D9D9D9;
  background-image: url('https://images.unsplash.com/photo-1584451049700-ec9b394f3805?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDEwOHx8aG9zcGl0YWx8ZW58MHx8fHwxNjYzMDgxNDQw&ixlib=rb-1.2.1&w=1500');
  background-repeat: no-repeat;
  background-position: center;
}
.home-container04 {
  display: flex;
  max-width: 1400px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text02 {
  color: #ffffff;
  font-size: 3rem;
  max-width: 50%;
  align-self: flex-start;
  font-family: Montserrat;
}
.home-text03 {
  color: #ffffff;
  font-size: 1.15rem;
  max-width: 60%;
  margin-top: 48px;
  font-family: Montserrat;
  margin-bottom: 48px;
}
.home-button {
  color: #ffffff;
  font-style: normal;
  text-align: center;
  transition: 0.3s;
  font-family: Montserrat;
  font-weight: 400;
  padding-top: var(--dl-space-space-unit);
  border-width: 0px;
  margin-right: var(--dl-space-space-unit);
  padding-left: 32px;
  border-radius: 4px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
  background-color: var(--dl-color-primary-32c69a);
}
.home-button:hover {
  transform: scale(1.02);
}
.home-how-can-we-help-you {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-tenunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home-image2 {
  width: 450px;
  height: 450px;
  object-fit: cover;
}
.home-container05 {
  flex: 0 0 auto;
  width: 50%;
  height: 350px;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-text10 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 30px;
  align-self: center;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-transform: uppercase;
}
.home-text11 {
  color: var(--dl-color-primary-paragraph);
  text-align: center;
  font-family: Montserrat;
}
.home-container06 {
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-primary-500);
}
.home-steps {
  width: 100%;
  height: 750px;
  display: flex;
  padding: 90px;
  max-width: 1400px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text14 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 40px;
  margin-bottom: var(--dl-space-space-tenunits);
  text-transform: uppercase;
}
.home-container07 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-container08 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-step {
  display: flex;
  padding: 24px;
  align-items: center;
  flex-direction: column;
}
.home-text16 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.home-text18 {
  font-size: 1.15rem;
  font-weight: 500;
}
.home-text21 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: 24px;
  text-align: center;
}
.home-step1 {
  display: flex;
  padding: 24px;
  align-items: center;
  flex-direction: column;
}
.home-text26 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.home-text28 {
  font-size: 1.15rem;
  font-weight: 500;
}
.home-text30 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: 24px;
  text-align: center;
}
.home-container09 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-step2 {
  display: flex;
  padding: 24px;
  align-items: center;
  flex-direction: column;
}
.home-text35 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.home-text37 {
  font-size: 1.15rem;
  font-weight: 500;
}
.home-text40 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: 24px;
  text-align: center;
}
.home-step3 {
  display: flex;
  padding: 24px;
  align-items: center;
  flex-direction: column;
}
.home-text45 {
  color: var(--dl-color-gray-900);
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
  margin-bottom: -30px;
}
.home-text47 {
  font-size: 1.15rem;
  font-weight: 500;
}
.home-text49 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  margin-top: 24px;
  text-align: center;
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.home-text54 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 40px;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-tenunits);
  text-transform: uppercase;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.home-container12 {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}
.home-icon14 {
  fill: var(--dl-color-primary-3c90f7);
  width: 70px;
  height: 70px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text55 {
  font-size: 20px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text56 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
  text-align: center;
  font-family: Open Sans;
}
.home-container13 {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}
.home-icon16 {
  fill: var(--dl-color-primary-3c90f7);
  width: 70px;
  height: 70px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text57 {
  font-size: 20px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text58 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
  text-align: center;
  font-family: Open Sans;
}
.home-container14 {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}
.home-icon18 {
  fill: var(--dl-color-primary-3c90f7);
  width: 70px;
  height: 70px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text59 {
  font-size: 20px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text60 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
  text-align: center;
  font-family: Open Sans;
}
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fourunits);
  justify-content: center;
}
.home-container16 {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}
.home-icon20 {
  fill: var(--dl-color-primary-3c90f7);
  width: 70px;
  height: 70px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text61 {
  font-size: 20px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text62 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
  text-align: center;
  font-family: Open Sans;
}
.home-container17 {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}
.home-icon22 {
  fill: var(--dl-color-primary-3c90f7);
  width: 70px;
  height: 70px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text63 {
  font-size: 20px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text64 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
  text-align: center;
  font-family: Open Sans;
}
.home-container18 {
  flex: 0 0 auto;
  width: 20%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-fourunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
  background-color: var(--dl-color-primary-500);
}
.home-icon24 {
  fill: var(--dl-color-primary-3c90f7);
  width: 70px;
  height: 70px;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text65 {
  font-size: 20px;
  font-style: normal;
  font-family: Open Sans;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text66 {
  color: var(--dl-color-gray-500);
  font-size: 16px;
  text-align: center;
  font-family: Open Sans;
}
.home-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-right-image {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-container20 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-top: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: space-between;
}
.home-image3 {
  width: 40%;
  object-fit: cover;
}
.home-container21 {
  width: 60%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.home-container22 {
  width: 448px;
  height: 304px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text67 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 30px;
  align-self: center;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: uppercase;
}
.home-text68 {
  color: var(--dl-color-primary-paragraph);
  font-size: 25px;
  text-align: left;
}
.home-left-image-desktop {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-primary-500);
}
.home-container23 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-top: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: space-between;
}
.home-container24 {
  width: 60%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.home-container25 {
  width: 448px;
  height: 304px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text71 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 30px;
  align-self: center;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: uppercase;
}
.home-text72 {
  color: var(--dl-color-primary-paragraph);
  font-size: 25px;
  text-align: left;
}
.home-image4 {
  width: 40%;
  height: auto;
  object-fit: cover;
}
.home-left-image-mobile {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: none;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-primary-500);
}
.home-container26 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-top: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: space-between;
}
.home-image5 {
  width: 40%;
  height: auto;
  object-fit: cover;
}
.home-container27 {
  width: 60%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.home-container28 {
  width: 448px;
  height: 304px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text75 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 30px;
  align-self: center;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: uppercase;
}
.home-text76 {
  color: var(--dl-color-primary-paragraph);
  font-size: 25px;
  text-align: left;
}
.home-right-image1 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-container29 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: flex-start;
  padding-top: 0px;
  margin-bottom: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  justify-content: space-between;
}
.home-image6 {
  width: 40%;
  height: auto;
  object-fit: cover;
}
.home-container30 {
  width: 60%;
  display: flex;
  align-self: flex-start;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.home-container31 {
  width: 448px;
  height: 304px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-text79 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 30px;
  align-self: center;
  font-family: Montserrat;
  margin-bottom: var(--dl-space-space-fourunits);
  text-transform: uppercase;
}
.home-text80 {
  color: var(--dl-color-primary-paragraph);
  font-size: 25px;
  text-align: left;
}
.home-image7 {
  width: 100%;
  height: 450px;
  object-fit: cover;
  margin-bottom: var(--dl-space-space-tenunits);
}
.home-testimonial {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  margin-bottom: var(--dl-space-space-tenunits);
  flex-direction: column;
}
.home-text83 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 40px;
  text-transform: uppercase;
}
.home-text85 {
  color: var(--dl-color-gray-black);
  font-size: 20px;
  max-width: 600px;
  margin-top: 32px;
  text-align: center;
  margin-bottom: 32px;
}
.home-container32 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-blog-container {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home-text87 {
  color: var(--dl-color-primary-3c90f7);
  font-family: Roboto;
  text-transform: uppercase;
}
.home-blog {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
}
.home-container33 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.home-container34 {
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: space-between;
}
.home-container35 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: 1400px;
  align-items: center;
  padding-top: 32px;
  padding-left: 48px;
  padding-right: 48px;
  padding-bottom: 32px;
  justify-content: space-between;
}
.home-image8 {
  height: 2rem;
  object-fit: cover;
}
.home-text88 {
  color: var(--dl-color-primary-3c90f7);
}
.home-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-icon26 {
  fill: var(--dl-color-primary-3c90f7);
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon28 {
  fill: var(--dl-color-primary-3c90f7);
  width: 16px;
  height: 16px;
  margin-right: 32px;
}
.home-icon30 {
  fill: var(--dl-color-primary-3c90f7);
  width: 16px;
  height: 16px;
}
@media(max-width: 1600px) {
  .home-container01 {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home-header {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-container20 {
    width: 90%;
  }
  .home-container23 {
    width: 90%;
  }
  .home-container26 {
    width: 90%;
  }
  .home-container29 {
    width: 90%;
  }
}
@media(max-width: 1200px) {
  .home-container01 {
    padding: var(--dl-space-space-fourunits);
  }
  .home-header {
    padding-left: var(--dl-space-space-fourunits);
    padding-right: var(--dl-space-space-fourunits);
  }
  .home-container04 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container12 {
    width: 30%;
  }
  .home-container13 {
    width: 30%;
  }
  .home-container14 {
    width: 30%;
  }
  .home-container16 {
    width: 30%;
  }
  .home-container17 {
    width: 30%;
  }
  .home-container18 {
    width: 30%;
  }
  .home-right-image {
    max-width: 1200px;
  }
  .home-container20 {
    width: 80%;
    max-width: auto;
  }
  .home-image3 {
    width: 50%;
    align-self: center;
  }
  .home-container21 {
    width: 50%;
  }
  .home-container22 {
    width: 100%;
  }
  .home-container23 {
    width: 80%;
  }
  .home-container24 {
    width: 50%;
  }
  .home-container25 {
    width: 100%;
  }
  .home-image4 {
    width: 50%;
    align-self: center;
  }
  .home-container26 {
    width: 80%;
  }
  .home-image5 {
    width: 50%;
    height: auto;
    align-self: center;
  }
  .home-container27 {
    width: 50%;
  }
  .home-container28 {
    width: 100%;
  }
  .home-container29 {
    width: 80%;
  }
  .home-image6 {
    width: 50%;
    align-self: center;
  }
  .home-container30 {
    width: 50%;
  }
  .home-image7 {
    height: 350px;
  }
}
@media(max-width: 991px) {
  .home-container04 {
    align-items: center;
  }
  .home-text02 {
    max-width: 100%;
    align-self: center;
    text-align: center;
  }
  .home-how-can-we-help-you {
    flex-direction: column;
  }
  .home-image2 {
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-container05 {
    width: 100%;
  }
  .home-text14 {
    text-align: center;
  }
  .home-text16 {
    text-align: center;
  }
  .home-text18 {
    text-align: center;
  }
  .home-text26 {
    text-align: center;
  }
  .home-text28 {
    text-align: center;
  }
  .home-text35 {
    text-align: center;
  }
  .home-text37 {
    text-align: center;
  }
  .home-text45 {
    text-align: center;
  }
  .home-text47 {
    text-align: center;
  }
  .home-container10 {
    width: 90%;
  }
  .home-container31 {
    width: 100%;
  }
  .home-text83 {
    text-align: center;
  }
  .home-text85 {
    text-align: center;
  }
  .home-container32 {
    flex-direction: column;
  }
  .home-blog {
    flex-direction: column;
  }
  .home-container33 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .home-container34 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
}
@media(max-width: 767px) {
  .home-header {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-nav {
    display: none;
  }
  .home-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home-mobile-menu {
    width: 50%;
    display: none;
  }
  .home-container03 {
    top: 1px;
    right: -384px;
    width: 385px;
    height: 1000px;
    opacity: 0.5;
    position: absolute;
    background-color: var(--dl-color-gray-black);
  }
  .home-hero {
    align-items: center;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text02 {
    text-align: center;
  }
  .home-text03 {
    max-width: 100%;
    text-align: center;
    padding-left: 48px;
    padding-right: 48px;
  }
  .home-steps {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container07 {
    flex-direction: column;
  }
  .home-step {
    padding: var(--dl-space-space-unit);
  }
  .home-step1 {
    padding: var(--dl-space-space-unit);
  }
  .home-step2 {
    padding: var(--dl-space-space-unit);
  }
  .home-step3 {
    padding: var(--dl-space-space-unit);
  }
  .home-container11 {
    flex-direction: column;
  }
  .home-container12 {
    width: 70%;
    padding: var(--dl-space-space-tenunits);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-container13 {
    width: 70%;
    padding: var(--dl-space-space-tenunits);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-container14 {
    width: 70%;
    padding: var(--dl-space-space-tenunits);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-container15 {
    flex-direction: column;
  }
  .home-container16 {
    width: 70%;
    padding: var(--dl-space-space-tenunits);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-container17 {
    width: 70%;
    padding: var(--dl-space-space-tenunits);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-container18 {
    width: 70%;
    padding: var(--dl-space-space-tenunits);
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-right-image {
    padding: var(--dl-space-space-fiveunits);
  }
  .home-container20 {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
  }
  .home-image3 {
    width: 100%;
  }
  .home-container21 {
    width: 100%;
  }
  .home-text68 {
    text-align: center;
  }
  .home-left-image-desktop {
    display: none;
    padding: var(--dl-space-space-fiveunits);
  }
  .home-container23 {
    flex-direction: column;
  }
  .home-container24 {
    width: 100%;
  }
  .home-text72 {
    text-align: center;
  }
  .home-image4 {
    width: 100%;
  }
  .home-left-image-mobile {
    display: flex;
    padding: var(--dl-space-space-fiveunits);
  }
  .home-container26 {
    flex-direction: column;
  }
  .home-image5 {
    width: 100%;
  }
  .home-container27 {
    width: 100%;
  }
  .home-text76 {
    text-align: center;
  }
  .home-right-image1 {
    padding: var(--dl-space-space-fiveunits);
  }
  .home-container29 {
    flex-direction: column;
  }
  .home-image6 {
    width: 100%;
  }
  .home-container30 {
    width: 100%;
  }
  .home-text80 {
    text-align: center;
  }
  .home-testimonial {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-footer {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-text88 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu {
    padding: 16px;
  }
  .home-hero {
    height: auto;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-text02 {
    font-size: 2rem;
  }
  .home-text03 {
    font-size: 1rem;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-button {
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-how-can-we-help-you {
    padding: var(--dl-space-space-fiveunits);
  }
  .home-image2 {
    width: 100%;
  }
  .home-container05 {
    height: auto;
  }
  .home-text10 {
    font-size: 25px;
    text-align: center;
  }
  .home-text11 {
    font-size: 16px;
  }
  .home-container06 {
    height: auto;
    padding: var(--dl-space-space-fiveunits);
  }
  .home-steps {
    height: auto;
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-text14 {
    margin-bottom: var(--dl-space-space-fiveunits);
  }
  .home-container08 {
    flex-direction: column;
  }
  .home-container09 {
    flex-direction: column;
  }
  .home-container10 {
    width: 100%;
    padding: var(--dl-space-space-fiveunits);
  }
  .home-container12 {
    width: 100%;
    padding: var(--dl-space-space-fourunits);
  }
  .home-container13 {
    width: 100%;
    padding: var(--dl-space-space-fourunits);
  }
  .home-container14 {
    width: 100%;
    padding: var(--dl-space-space-fourunits);
  }
  .home-container16 {
    width: 100%;
    padding: var(--dl-space-space-fourunits);
  }
  .home-container17 {
    width: 100%;
    padding: var(--dl-space-space-fourunits);
  }
  .home-container18 {
    width: 100%;
    padding: var(--dl-space-space-fourunits);
  }
  .home-container19 {
    padding-top: var(--dl-space-space-fiveunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-testimonial {
    padding: var(--dl-space-space-fourunits);
  }
  .home-blog {
    padding: var(--dl-space-space-fourunits);
  }
  .home-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .home-image8 {
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-text88 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
}
