<div>
  <link href="./gallery-card1.css" rel="stylesheet" />
  <div class="gallery-card1-gallery-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1594824476967-48c8b964273f?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxkb2N0b3JzfGVufDB8fHx8MTY2MzQ3OTc1Mw&ixlib=rb-1.2.1&w=1500"
      class="gallery-card1-image"
    />
    <h2 class="gallery-card1-text"><span>Project Title</span></h2>
    <span class="gallery-card1-text1">
      <span>Lorem ipsum dolor sit amet</span>
    </span>
  </div>
</div>
