.navigation-links-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.navigation-links-text {
  color: var(--dl-color-primary-3c90f7);
  font-size: 15px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600;
  text-transform: uppercase;
}
.navigation-links-text1 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 15px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600;
  margin-left: 32px;
  text-transform: uppercase;
}
.navigation-links-text2 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 15px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600;
  margin-left: 32px;
  text-transform: uppercase;
}
.navigation-links-text3 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 15px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600;
  margin-left: 32px;
  text-transform: uppercase;
}
.navigation-links-text4 {
  color: var(--dl-color-primary-3c90f7);
  font-size: 15px;
  font-style: normal;
  font-family: Montserrat;
  font-weight: 600;
  margin-left: 32px;
  text-transform: uppercase;
}








@media(max-width: 1600px) {
  .navigation-links-text {
    font-size: 16px;
  }
  .navigation-links-text1 {
    font-size: 16px;
  }
  .navigation-links-text2 {
    font-size: 16px;
  }
  .navigation-links-text3 {
    font-size: 16px;
  }
  .navigation-links-text4 {
    font-size: 16px;
  }
}
@media(max-width: 1200px) {
  .navigation-links-text {
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
  }
  .navigation-links-text1 {
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
  }
  .navigation-links-text2 {
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
  }
  .navigation-links-text3 {
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
  }
  .navigation-links-text4 {
    font-style: normal;
    font-family: Montserrat;
    font-weight: 600;
    text-transform: uppercase;
  }
}
@media(max-width: 767px) {
  .navigation-links-nav {
    align-items: flex-start;
    flex-direction: column;
  }
  .navigation-links-text {
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text1 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text2 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text3 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
  .navigation-links-text4 {
    margin-left: 0;
    margin-bottom: var(--dl-space-space-unit);
  }
}
