<div>
  <link href="./navigation-links.css" rel="stylesheet" />
  <nav class="navigation-links-nav">
    <a href="index.html" class="navigation-links-navlink"><span>Home</span></a>
    <a href="about-us.html" class="navigation-links-navlink1">
      <span>About us</span>
    </a>
    <a href="services.html" class="navigation-links-navlink2">
      <span>Our Services</span>
    </a>
    <a href="contact.html" class="navigation-links-navlink3">
      <span>Contact</span>
    </a>
    <span class="navigation-links-text"><span>News</span></span>
  </nav>
</div>
